html {
    position: relative;
}
body {
    margin-bottom: 120px;
    margin-top: 25px;
}
/* lightbox */
.gallery li img {
    margin-right: 20px;
}
.overlay {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 30px;
    left: 0;
    background: rgba(0,0,0,0);
    z-index: 999999999;
    transition: .8s;
    text-align: center;
    padding: 60px;
}
.overlay:target{
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.5);
}
.overlay img {
    max-height: 100%;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
}
.overlay:target img {
    animation: fade .5s;
    position: fixed;
    max-width: 80%;
    max-height: 80%;
    right: 0;
    left: 0;
    bottom: 0;
    display: grid;
    place-items: center;
}
.overlay a{
	display: none;
}
.overlay:target a{
	display: inline-block;
}

.overlay .close {
    position: absolute;
	top: 30px;
	left: 47%;
	margin-left: -20px;
	color: white;
	text-decoration: none;
	background-color: black;
	line-height: 10px;
	border:1px solid white;
	padding: 5px;
	opacity: 0;
}
.overlay:target .close {
    animation: slidedownfade .5s .5s forwards;
}
/* akhir lightbox */
 hr {
    width: 250px;
    border: 3px solid slategray;
}
section {
    min-height: 600px;
}
.portofolio {
    background-color: #eee;
    margin-top: -10px;
    margin-bottom: 100px;
}
.contact {
    min-height: 800px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px;
    background-color: black;
    padding-top: 30px;
}
footer p {
    color: #aaa;
    font-size: 1em;
}
footer p i {
    color: gold;
}

/* animasi */

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes zoomdanfade {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slidedownfade {
    0% {
        opacity: 0;
        margin-top: -20px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}
/* animasi */

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes zoomdanfade {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slidedownfade {
    0% {
        opacity: 0;
        margin-top: -20px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}



